<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body>


<p>Click the button to get your coordinates.</p>
<!--<button onclick="getLocation()">Try It</button>-->
<!--<p id="demo"></p>-->
<br>


<form id="userArea">
    <input list="areaSelect" id="areaSearch" onchange="postUserArea()" name="areaSearch">
    <datalist id="areaSelect"></datalist>
    <input list="stopSelect" id="stopSearch" name="stopSearch">
    <datalist id="stopSelect" onchange="postUserStop()"></datalist>
    <button id="btn" type="submit">Confirm</button>
    <input type="reset" value="New search" />
</form>
<br>


<script>
    const x = document.getElementById("demo");
    const button = document.getElementById("btn");
    const queryForm =document.getElementById("userArea");
    let userLatitude;
    let userLongitude;
    const stopInput = document.getElementById("stopSearch").value;

    navigator.geolocation.getCurrentPosition(showLocation);
    function showLocation(position) {
        userLatitude = position.coords.latitude;
        userLongitude = position.coords.longitude;
        console.log(userLatitude);

    }


    queryForm.addEventListener("submit", (event)=> {
        const areaInput = document.getElementById("areaSearch").value;
        const stopInput = document.getElementById("stopSearch").value;



        event.preventDefault();
        $.ajax({

            type: "GET", url: 'http://localhost:8080/answer/' + areaInput +"/" + stopInput +"/"+ userLatitude+ "/" + userLongitude
        })

    } );

    queryForm.reset();
    // button.addEventListener("click", () => {
    //     //alert("Click");
    //
    // });



</script>
<script>
    const request = new XMLHttpRequest();
    const url = 'http://localhost:8080/area';
    request.open("GET", url);
    request.send();
    request.onload = (e) => {
        // let userData = e.target.value;


        const opts = request.response;
        const arrArea = JSON.parse(opts);

        arrArea.forEach(op => areaSelect.innerHTML += `<option value="${op}">${op}</option>`);

    }

    function postUserArea() {
        const areaInput = document.getElementById("areaSearch").value;
        console.log(areaInput);
        const stopSearch = document.getElementById("stopSearch");
        stopSearch.innerHTML = "";

        $.ajax({
            type: "GET", url: 'http://localhost:8080/stop/' + areaInput
        }).done(function (response) {
            response.forEach(op => stopSelect.innerHTML += `<option value="${op}">${op}</option>`);

        })
    }


</script>


</body>
</html>